:host {
    position: relative;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.ft-ScrollContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    &__shadow {
        top: 0;
        height: 8px;
        width: 100%;
        position: absolute;
        background: linear-gradient(to bottom,rgba(0,0,0,.15),rgba(0,0,0,0));
    }
}