.ft-TileView {

    &__tileContainer {
        max-width: 31%;
        margin: 8px;
    }

    &__tile {
        border-radius: 12px;
        background-color: white;
        width: 100%;
        box-shadow      : 0 2px 6px 0 rgba(0, 0, 0, .5);

        &-hovered {
            cursor: pointer;
        
            &:hover {
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .7);
            }
        }
    }
}