<div class="ft-PageHeader ft-flexbox ft-justify-content-between ft-align-items-center">
  <div class="ft-PageHeader__title">
    <span (click)="router.navigate(['home'])">QuizApp</span>
  </div>
  <div class="ft-PageHeader__menu ft-flexbox ft-align-items-center">
    <div *ngIf="_headerButtonsConfig.userButton"
          title="Администрирование"
          class="ft-PageHeader__menu-userButton ft-flexbox ft-align-items-center ft-justify-content-center">
      <mat-icon (click)="router.navigate(['admin'])">settings</mat-icon>
    </div>
  </div>
</div>
