.ft-QuestionSelector {
  &__number {
      width: 30px;
      height: 30px;
      line-height: 28px;
      font-size: 16px;
      text-align: center;
      margin-left: 8px;
      margin-top: 8px;
      display: inline-block;
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid #CCC;
      position: relative;

      &:hover {
        background-color: rgba(255, 166, 0, 0.5);
      }
  }

  &__selected {
    border: 1px solid orange
  }

  &__answered {
    background-color: #28a745;
    cursor: default;
  }

  &__marked {
    position: absolute;
    top: 0;
    right: 0;
    fill: red;
    height: 8px;
    width: 8px;
  }
}