:host {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    min-height: 0;
}

.ft-AuthPage {
    background: url(../../../images/common-bg.png);
    background-attachment: fixed;

    &__form {
        padding: 20px;
        background-color: white;
        width: 380px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24);
        font-size: 18px;

        &-title {
            text-align: center;
            font-weight: bold;
            margin-bottom: 8px;
        }

        &-input {
            padding: 0 2px;
        }

        &-buttonsContainer {
            margin-top: 8px;
            
            &-btn {
                font-size: 14px;
                margin-left: 12px;
            }
        }
    }
}