<div class="ft-AuthPage ft-flex-container ft-justify-content-center ft-align-items-center">
  <form [formGroup]="_form" class="ft-AuthPage__form ft-flexbox ft-flex-column">
    <h1 class="ft-AuthPage__form-title">FronTesting</h1>
    <label class="ft-flexbox">
      <input 
        formControlName="username" 
        class="ft-AuthPage__form-input ft-flex-grow-1" 
        type="text" 
        placeholder="Логин"/>
    </label>
    <label class="ft-flexbox">
      <input 
        formControlName="password" 
        class="ft-AuthPage__form-input ft-flex-grow-1" 
        type="password" 
        placeholder="Пароль"/>
    </label>
    <div class="ft-AuthPage__form-buttonsContainer ft-flexbox ft-justify-content-end">
      <button [disabled]="!_form.valid" class="ft-AuthPage__form-buttonsContainer-btn ft-AuthPage__form-buttonsContainer-auth btn btn-primary" (click)="_auth()">
        Войти
      </button>
<!--       <button [disabled]="!_form.valid" class="AuthPage__form-buttonsContainer-btn btn btn-secondary" (click)="_register()">
        Регистрация
      </button> -->
      <button class="ft-AuthPage__form-buttonsContainer-btn btn btn-secondary" (click)="router.navigate(['home'])">
        На главную
      </button>
    </div>
  </form>
</div>